/* hxuas注释 */

body {
  display: flex;
  background: url('../imgs/Capture001.png');
}
h1 {
  z-index: 99;
  color: brown;
}
.test {
  width: 100px;
  height: 100px;
  background: skyblue;
}
.img {
  width: 100px;
  height: 100PX;
  margin-top: 300px;
}
.test2 {
  width: 100px;
  height: 100px;
  background: skyblue;
}
.test3 {
  width: 100px;
  height: 100px;
  background: skyblue;
}
.test4 {
  width: 100px;
  height: 100px;
  background: skyblue;
}
